<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    <title>Hospital page</title>
    <title>Registration staff insert</title>
  </head>

<body>
<style>
      .transbox {
      background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQoCqN-FwNTPM483204GaZF9BKFKVwKqXVREYEwCwtMHaqiAp9Q&usqp=CAU) ;
      margin: 10px;
      background-color: #ffffff;
      border: 1px solid black;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      opacity: 0.8;
    }
    .myform{
      width: 450px;
      margin: 0 auto;
      }
      .inputvalues{
          width: 400px;
          margin: 0 auto;
          padding: 10px 15px;
          display: inline-block;
      }
      #back_btn{
          background-color: red;
          padding: 14px 20px;
          color: white;
          width:20%;
          cursor: pointer;
          text-align: center;
          font-size: 18px;
          font-weight: bold;
      }
    #logout_btn, #login_btn, #insert_btn{
      background-color: #4CAF50;
      padding: 14px 20px;
      color: white;
      width:96%;
      cursor: pointer;
      text-align: center;
        font-size: 18px;
        font-weight: bold;
    }
    .column {
        padding-left: 10px;
        padding-right: 10px;
        column-gap: 100px;
        float: left;
        width: 20%;
      }
          .row:after {
        content: "";
        display: table;
        clear: both;
      }
          .full-footer{
        background-color: #192a56;
        width: 100%;
        bottom: 0;
        }
      #topheader{
    border-bottom: 1px solid silver;
    }
    #topheader a{
        color: #130f40;
        font-weight: 600;
        font-size: 0.89rem;
      padding: 0;
      box-sizing: border-box;
    }
      .top-footer p{
        color: white;
      }
      .top-footer a{
        color: white;
        font-weight: 600;
      }
      .top-footer h3{
        color: white;
      }
      .bottom-footer{
        background-color: #192a56;
      }
      .bottom-footer p{
        background-color: white;
        text-align:center;
      }
       body{
    font-family: montserrat;
    }
   /* Navbar container */
      .navbar {
        overflow: hidden;
        background-color: black;
        font-family: Arial;
      }

      /* Links inside the navbar */
      .navbar a {
        float: left;
        display: block;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      .navbar a:hover {
        background-color: green;
        color: white;
      }
      .navbar a.active{
        background-color: #4CAF50;
        color: white;
      }

      /* The dropdown container */
      .dropdown {
        float: left;
        overflow: hidden;
      }

      /* Dropdown button */
      .dropdown .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit; /* Important for vertical align on mobile phones */
        margin: 0; /* Important for vertical align on mobile phones */
      }

      /* Add a red background color to navbar links on hover */
      .navbar a:hover, .dropdown:hover .dropbtn {
        background-color: green;
      }

      /* Dropdown content (hidden by default) */
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }

      /* Links inside the dropdown */
      .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
      }
      /* Add a background color to dropdown links on hover */
      .dropdown-content a:hover {
        background-color: #ddd;
      }
      /* Show the dropdown menu on hover */
      .dropdown:hover .dropdown-content {
        display: block;
      }
</style>

<script>
  function validate_regstaff(){
        var id=document.getElementById("id");
        var name=document.getElementById("name");
      
        var adhar=document.getElementById("adhar");
        var dob=document.getElementById("dob");
        var date=document.getElementById("date");
        var hid=document.getElementById("hid");
        var sal=document.getElementById("salary");
        var contact=document.getElementById("contact");
        var emial=document.getElementById("email").value;
        var pin=document.getElementById("pin");
        var address=document.getElementById("address");
        var pass=document.getElementById("pass");
        var con_pass=document.getElementById("con_pass");
        
        if(id.value.trim() == ""){
            alert("ID is required");
            id.focus();
            return false;
        }
        if(name.value.trim() == "" || name.value.length<3){
            alert("Enter your name");
            name.focus();
            return false;
        }
       
        var x=0;
        if(vmale.checked)
            x++;
        if(vfemale.checked)
            x++;
        if(vother.checked)
            x++;
        if(x==0)
        {
            alert("Select Male / Female");
            return false;
        }
        if(adhar.value.trim()=="" || adhar.value.length<12 || adhar.value.length>13)
        {
          alert("Please once check your adhar number");
          adhar.focus();
          return false;
        }
        if(dob.value.trim()==""){
            alert("Date of registration is required");
            dob.focus();
            return false;
            var d;
            d=new Date();
            dob=d.toISOString();
        }
        if(date.value.trim()==""){
            alert("Date of registration is required");
            date.focus();
            return false;
            var d;
            d=new Date();
            date=d.toISOString();
        }
        if(hid.value=""){
          alert("hospital id is required");
          hid.focus();
          return false;
        }
        if(sal.value="")
        {
          alert("Enter the salary");
          sal.focus();
          return false;
        }
        if(contact.value.trim()=="")
        {
              alert("Phone number is required");
              contact.focus();
              return false;
        }
        if(contact.value.search(/^[7-9][0-9]{9}$/)!=0)
        {
           alert("Please once check your contact number");
           contact.focus();
           return false;
        }
         if(emial.trim()=="")
         {
             alert("email is required");
             email.focus();
             return false;
         }
        var regx=/^([a-z 0-9\.-]+)@([a-z0-9]+).([a-z]{2,8})(.[a-z]{2-8})?$/;
        if(regx.test(email))
        {
                   alert("Please, once check your email");
                   emial.focus();
                   return false;
        }  
        if(pin.value.trim()=="" || pin.value.length<6 || pin.value.length>6)
         {
             alert("pin code is required");
             pin.focus();
             return false;
         }
         if(address.value.trim()=="")
         {
             alert("address is required");
             address.focus();
             return false;
         }
         if(pass.value="" || pass.value.length<=3 || pass.value.length>10)
         {
           alert("please enter your password with minimum length 4");
           pass.focus();
           return false;
          }
          
    
  }
</script>

<header>
    <div class="p-1" id="topheader">
      <div class="container">
        <div class="row">
          <div class="col-12 text-right">
            <a class="p-1" href="tel:+ 0123456789"> <i class="fa fa-phone" aria-hidden="true"></i> + 0123456789</a>
            <a class="p-1" href="mailto: abc@gmail.com" ><i class="fa fa-envelope" aria-hidden="true" ></i>abc@gmail.com</a>
            <a href="default" style="float: right"><i><b>Log Out</b></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="navbar">
      <a  href="default"> HOME</a>
       <div class="dropdown">
           <button class="dropbtn">STAFF <i class="fa fa-caret-down"></i></button>
             <div class="dropdown-content">
                  <a href="regstaff">STAFF INFO</a>
                 <a class="active" href="regstaffinsert">ADD STAFF</a>
             </div>
        </div>

       <a href="bloodbank"> BLOOD BANK</a>
          <a href="blood">BLOOD</a>
       </div>
</header>
    <hr>

    <div class="transbox">
            <center><h2>  STAFF REGISTRATION FORM</h2>
              <img src="https://image.flaticon.com/icons/svg/753/753210.svg" alt="" width="150" height="150" >
            </center>

             <form class="myform" method="POST" name='regstaff_form' action="regstaffinsert" onsubmit="return validate_regstaff()">
              <label for="">STAFF ID</label>
              <input type="number" id="id" name="id"  class="inputvalues" placeholder="enter ID"><br>
             
              <label for="">Name</label>  
              <input type="text" id="name" name="name"  class="inputvalues" placeholder="enter your name"><br>
              
              Gender: <pre><input type="radio" name="gender" value="M"/>Male     <input type="radio" name="gender" value="F"/>Female   <input type="radio" name="gender" value="O"/>Other </pre> <br>
              
              <label for=""><b>Adhar Card</b> </label>
              <input type="text" id="adhar" name="adhar" class="inputvalues" placeholder="enter Adhar Card Number"><br>
              
              <label for=""><b>Date of birth</b></label>
              <input type="date" id="dob" name="dob"  class="inputvalues" placeholder="enter your dob"><br>
              
              <label for=""><b>Registration date</b> </label>
              <input type="date" id="date" name="date"  class="inputvalues" placeholder="enter date of Registration"><br>

              <label for=""><b>Hospital ID</b> </label>
              <input type="number" id="hid" name="hid"  class="inputvalues" placeholder="enter hospital id"><br>

              <label for=""><b>Salary</b> </label>
              <input type="number" id="salary" name="salary"  class="inputvalues" placeholder="salary"><br>

              <label for=""><b>Phone no</b> </label>
              <input type="phone" id="contact" name="contact"  class="inputvalues" placeholder="enter your Phone number"><br>
              
              <label for=""><b>E-mail ID</b> </label>
              <input type="email" id="email" name="email"  class="inputvalues" placeholder="enter email id"><br>

              <label for=""><b>Pin Code</b> </label><br>
              <input type="text" id="pin" name="pin" class="inputvalues" placeholder="enter pin code"></input><br>  

              <label for="">Address</label><br>
              <textarea id="address" name="address"  placeholder="Address" rows="4" cols="55"></textarea><br>

              <label for="">Password</label>
              <input type="password" id="pass" name="pass" class="inputvalues"  placeholder="enter password" ><br>
            
              <label for="">Confirm Password</label>
              <input type="password" id="con_pass" name="con_pass" class="inputvalues"  placeholder="confirm password" ><br><br>
          
       <input type="submit" id="insert_btn" value="INSERT" ></a>
          <a href="adminpage"><input type="button" id="back_btn" value="Back"></a><br>
        </form>
      </div>

      <hr>
      <footer class="full-footer">
        <div class="container top-footer">
          <div class="row">
            <div class="column">
                <img class="img-fluid" src="https://www.ispecimen.com/wp-content/uploads/2016/01/blood-156063_960_720.png" height="100px" width="100px" alt="">
                <p> “Your blood is replaceable. A life is not.” <br>
                 “Your little effort can give others second chance to live life.” <br>
                 “To give blood you need neither extra strength nor extra food, and you will save a life.”<a href="#">Read more....</a></p>
               <a style="color: white" class="p-1" href="#" ><i class="fa fa-envelope" aria-hidden="true"></i>
     </a>
               <a style="color: white" class="p-1" href="#" ><i class="fa fa-twitter" aria-hidden="true"></i></a>
               <a style="color: white" class="p-1" href="#" ><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
               <a style="color: white" class="p-1" href="#" ><i class="fa fa-instagram" aria-hidden="true"></i>
     </a>
            </div>
     
            <div class="column">
             <h3>Important links</h3>
            <a href="https://en.wikipedia.org/wiki/Blood_donation_in_India" ><i>Blood Donation</i></a><br>
            <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6033128/"> <i>Soical awareness</i> </a><br>
            <a href="https://www.brmsonline.com/blog/wellness/healthcare/2018/benefits-of-blood-donation"> <i>Health Benefits</i> </a><br>
            <a href="https://www.redcrossblood.org/donate-blood/blood-donation-process/donation-process-overview.html"> <i>Blood Donatin Process</i> </a><br>
         </div>
     
           <div class="column ">
              <h3>Our Services</h3>
                <a href="#">Govt</a><br>
                <a href="#">Our Camps</a><br>
                <a href="#">Our Users</a><br>
                <a href="#">Social Services</a><br>
            </div>
     
          <div class="column">
               <h3>Contact Us</h3>
               <a class="p-1" href="tel:+ 0123456789"> <i class="fa fa-phone" aria-hidden="true"></i> + 0123456789</a><br>
                 <a class="p-1" href="mailto: abc@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i>abc@gmail.com</a><br>
     
                 <div class="embed-responsive embed-responsive-16by9">
                 <iframe class="embed-responsive-item" src="" frameborder="0"></iframe>
                 </div>
           </div>
            </div>
       </div>
     
       <div class="container-fluid bottom-footer">
           <div class="row">
             <div class="col text-center">
               <p>
                 Copyrights @ 2020 - All rights reserved
               </p>
             </div>
           </div>
       </div>
     </footer>
    <script src="E:\proj\bootstrap\js\bootstrap.min.js" ></script>
    <script src="E:\proj\bootstrap\css\bootstrap.min.css" ></script>
    <script src="F:\proj\bootstrap\js\bootstrap.min.txt" ></script>
  </body>
</html>
